@tailwind base;
@tailwind components;
@tailwind utilities;

/* base : 룰을 초기화하거나 디폴트 스타일을 위한 레이어 */
@layer base {
  @font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    font-named-instance: 'Regular';
    src:
      local('Pretendard Regular'),
      url(/fonts/Pretendard-1.3.9/woff2-subset/Pretendard-Regular.subset.woff2) format('woff2'),
      url(/fonts/Pretendard-1.3.9/woff-subset/Pretendard-Regular.subset.woff) format('woff');
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    font-named-instance: 'Medium';
    src:
      local('Pretendard Medium'),
      url(/fonts/Pretendard-1.3.9/woff2-subset/Pretendard-Medium.subset.woff2) format('woff2'),
      url(/fonts/Pretendard-1.3.9/woff-subset/Pretendard-Medium.subset.woff) format('woff');
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    font-named-instance: 'SemiBold';
    src:
      local('Pretendard SemiBold'),
      url(/fonts/Pretendard-1.3.9/woff2-subset/Pretendard-SemiBold.subset.woff2) format('woff2'),
      url(/fonts/Pretendard-1.3.9/woff-subset/Pretendard-SemiBold.subset.woff) format('woff');
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    font-named-instance: 'Bold';
    src:
      local('Pretendard Bold'),
      url(/fonts/Pretendard-1.3.9/woff2-subset/Pretendard-Bold.subset.woff2) format('woff2'),
      url(/fonts/Pretendard-1.3.9/woff-subset/Pretendard-Bold.subset.woff) format('woff');
  }

  @font-face {
    font-family: 'D2Coding';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  /* RESET */
  html {
    font-family: 'Pretendard';
    font-weight: 400;
  }

  video {
    height: 100% !important;
  }

  /* 스크롤 삭제 */
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll {
    scrollbar-width: none;
  }

  .perspective {
    perspective: 500px;
  }

  .ellipsis {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: keep-all;
  }
}

/* components : 유틸리티로 재정의 할 수 있는 클래스-기반 스타일을 위한 레이어 (써드파티 라이브러리를 위한 커스텀 스타일을 작성) */
@layer components {
  .container {
    @apply h-full m-auto min-w-300 xxs:max-w-xxs xs:max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl;
  }

  .inner {
    @apply py-25 px-50 h-[100vh] box-border;
  }

  .large-icon {
    @apply w-icon-large h-icon-large text-icon-small rounded-xs hover:text-theme-reverse hover:bg-theme-hover flex justify-center items-center;
  }

  .link-overlay {
    @apply block w-full h-full bottom-0 absolute;
  }
}

/* utilities : 다른 어떤 스타일들보다 먼저 적용되야할 작고, 하나의 목적을 가진 클래스를 위한 레이어 */
@layer utilities {
}

/* UI 테마 설정 */
:root {
  --black: #111;
  --white: #fff;
  --gray1: #333;
}

.dark {
  --theme: #111;
  --theme-reverse: #fff;
  --theme-gray: #333;
  --theme-active: #fff;
  --theme-unactive: #888;
  --theme-hover: #222224;
  --theme-corner-left-bottom: url('/corner/round_corner_left_bottom_black.svg');
  --theme-corner-right-top: url('/corner/round_corner_right_top_black.svg');
  --theme-bubble-tail: url('/bubble_tail/bubble_tail_white.svg');
  --blue-1: #0064ff;
  --blue-2: #def0ff;
  --blue-3: #0656a6;
  --gray-1: #41474c;
}

.light {
  --theme: #fff;
  --theme-reverse: #000;
  --theme-gray: #eee;
  --theme-active: #111;
  --theme-unactive: #888;
  --theme-hover: #eee;
  --theme-corner-left-bottom: url('/corner/round_corner_left_bottom_white.svg');
  --theme-corner-right-top: url('/corner/round_corner_right_top_white.svg');
  --theme-bubble-tail: url('/bubble_tail/bubble_tail_black.svg');
  --blue-1: #7dd5ff;
  --blue-2: #0088da;
  --blue-3: #f0faff;
  --gray-1: #e9ebee;
}
