@tailwind base;
@tailwind components;
@tailwind utilities;

/* base : 룰을 초기화하거나 디폴트 스타일을 위한 레이어 */
@layer base {
  @font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    font-named-instance: 'Regular';
    src:
      local('Pretendard Regular'),
      url(/fonts/Pretendard-1.3.9/woff2-subset/Pretendard-Regular.subset.woff2) format('woff2'),
      url(/fonts/Pretendard-1.3.9/woff-subset/Pretendard-Regular.subset.woff) format('woff');
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    font-named-instance: 'Medium';
    src:
      local('Pretendard Medium'),
      url(/fonts/Pretendard-1.3.9/woff2-subset/Pretendard-Medium.subset.woff2) format('woff2'),
      url(/fonts/Pretendard-1.3.9/woff-subset/Pretendard-Medium.subset.woff) format('woff');
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    font-named-instance: 'SemiBold';
    src:
      local('Pretendard SemiBold'),
      url(/fonts/Pretendard-1.3.9/woff2-subset/Pretendard-SemiBold.subset.woff2) format('woff2'),
      url(/fonts/Pretendard-1.3.9/woff-subset/Pretendard-SemiBold.subset.woff) format('woff');
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    font-named-instance: 'Bold';
    src:
      local('Pretendard Bold'),
      url(/fonts/Pretendard-1.3.9/woff2-subset/Pretendard-Bold.subset.woff2) format('woff2'),
      url(/fonts/Pretendard-1.3.9/woff-subset/Pretendard-Bold.subset.woff) format('woff');
  }

  /* RESET */
  html {
    font-family: 'Pretendard';
    font-weight: 400;
  }

  video {
    height: 100% !important;
  }
}

/* components : 유틸리티로 재정의 할 수 있는 클래스-기반 스타일을 위한 레이어 (써드파티 라이브러리를 위한 커스텀 스타일을 작성) */
@layer components {
  .container {
    @apply h-full m-auto xxs:max-w-xxs xs:max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl;
  }

  .large-icon {
    @apply w-icon-large h-icon-large text-icon-small rounded-sm hover:text-theme-reverse hover:bg-theme-hover flex justify-center items-center;
  }
}

/* utilities : 다른 어떤 스타일들보다 먼저 적용되야할 작고, 하나의 목적을 가진 클래스를 위한 레이어 */
@layer utilities {
}

/* UI 테마 설정 */
.dark {
  --theme: #111;
  --theme-reverse: #fff;
  --theme-gray: #333;
  --theme-active: #fff;
  --theme-unactive: #888;
  --theme-hover: #222224;
}

.light {
  --theme: #fff;
  --theme-reverse: #000;
  --theme-gray: #eee;
  --theme-active: #111;
  --theme-unactive: #888;
  --theme-hover: #eee;
}

/* PUSH */
/* 들어올때 */
.navigate-push-enter {
  transform: translateX(0%);
}

.navigate-push-enter-active {
  z-index: 1;
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}

/* 나갈때 */
.navigate-push-exit {
  transform: translateX(100%);
}

.navigate-push-exit-active {
  z-index: 2;
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}

/* POP */
/* 들어올때 */
.navigate-pop-enter {
  transform: translateX(100%);
  /* border: 1px solid red; */
}

.navigate-pop-enter-active {
  z-index: 1;
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}

/* 나갈때 */
.navigate-pop-exit {
  transform: translateX(-100%);
}

.navigate-pop-exit-active {
  z-index: 2;
  transform: translateX(0%);
  /* border: 1px solid yellow; */
  transition: transform 300ms ease-in-out;
}
